# Data Science Ecosystem

In this Notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

<ul>
    <li>Give overview of popular languages for Data Science</li>
    <li>Give overview of popular packages for Data Science</li>
    <li>Give overview of tools for Data Science</li>
    <li>Illustrate how basic arithmetic operations are performed</li>
</ul>

## Author

Vignesh Krishnan

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python</li>
    <li> R Programming Language </li>
    <li> Julia </li>
</ol>

Some of the commonly used libraries that Data Scientists use are:
<ol>
    <li> Pandas </li>
    <li> Numpy </li>
    <li> Scikit learn </li>
</ol>

<table style="width:20%">
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Hadoop</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>Tensor Flow</td>
    </tr>

</table>

### Below are few examples of evaluating arithmetic expression in python

In [1]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60:
minutes = 200
hours = round(200/60,2)
print(f'{hours} Hours')

3.33 Hours